body {
    font-family: "Baskerville", "Times New Roman", "Helvetica", "Arial";
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}

header {
    display: table-row;
    text-align: center;
    width: 800px;
}

header > h1 {
    display: table-cell;
    text-align: center;
}

figure {
    display: table;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

img.avatar {
    width: 120px;
    border-radius: 60px;
    text-align: center;
    -moz-box-shadow:2px 2px 5px #333333;
    -webkit-box-shadow:2px 2px 5px #333333;
    box-shadow:2px 2px 5px #333333;
}

img.small-logo {
    width: 40px;
}

div.sidebar {
    display: inline-block;
    margin-right: 0;
    width: calc(20% - 0.5em);
    text-align: center;
}

div.social-network-contacts {
    background: rgba(80, 152, 210, 1);
    padding: 1em;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    -moz-box-shadow:2px 2px 5px #333333;
    -webkit-box-shadow:2px 2px 5px #333333;
    box-shadow:2px 2px 5px #333333;
}

div.content {
    display: inline-block;
    width: calc(77.5% - 0.5em);
    vertical-align: top;
    padding: 1em;
}

nav {
    padding: 0.5em;
    background: rgba(229, 75, 54, 1);
    border-radius: 10px 10px 0px 0px;
    -moz-box-shadow:2px 2px 5px #333333;
    -webkit-box-shadow:2px 2px 5px #333333;
    box-shadow:2px 2px 5px #333333;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

nav ul li a {
    font-weight: bold;
    color: rgb(255, 253, 56);
}

nav li.current a {
    display: block;
    background: rgb(61, 203, 107);
    border-radius: 5px 5px 5px 5px;
    padding: 0.5em;
    -moz-box-shadow:2px 2px 5px #333333;
    -webkit-box-shadow:2px 2px 5px #333333;
    box-shadow:2px 2px 5px #333333;
}

a:visited {
    color: inherit;
}

section p {
    background: rgba(0, 0, 0, 0.2);
    padding: 1em;
    font-size: 1em;
    text-align: justify;
}

section {
    background: rgba(20, 20, 20, 0.5);
    border-radius: 0px 10px 0px 0px;
    padding: 1em;
}

article {
    background: rgb(61, 203, 107);
    border-radius: 10px 10px 10px 10px;
    padding: 1em;
    -moz-box-shadow:2px 2px 5px #333333;
    -webkit-box-shadow:2px 2px 5px #333333;
    box-shadow:2px 2px 5px #333333;
}

article p, ul {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    font-size: 1.2em;
    text-align: justify;
}

footer {
    margin-top: 1em;
    padding: 1em;
    border-top: 2px solid #000;
    text-align: center;
}

h1 {
    font-size: 2em;
}