<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <title>
        Li Dong's website
    </title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <header>
        <h1>
            Welcome to Li Dong's website.<br/>
            <font color="red">Under construction!</font>
        </h1>
    </header>
    <div>
        <div class="sidebar">
            <img src="assets/pictures/me.jpg" class="avatar">
            <nav>
                <ul>
                {% for link in site.navigation %}
                    {% assign current = nil %}
                    {% if page.url contains link.url %}
                        {% assign current = 'current' %}
                    {% endif %}
                    <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </nav>
            <div class="social-network-contacts">
                <a href="https://github.com/dongli"><img src="assets/pictures/github-logo.png" class="small-logo"></a>
            </div>
        </div>
        <div class="content">
            {{ content }}
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'dongli';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </div>
    <footer>
        Copyright &copy 2014 Li Dong. All rights reserved.
    </footer>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'dongli';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
</body>
</html>