<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <title>
        Li Dong's website
    </title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <header>
        <h1>
            Welcome to Li Dong's website.<br/>
            <font color="red">Under construction!</font>
        </h1>
    </header>
    <div>
        <div class="sidebar">
            <figure>
                <img src="assets/pictures/me.jpg" class="avatar">
            </figure>
            <nav>
                <ul>
                {% for link in site.navigation %}
                    {% assign current = nil %}
                    {% if page.url contains link.url %}
                        {% assign current = 'current' %}
                    {% endif %}
                    <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </nav>
            <div class="social-network-contacts">
                <a href="https://github.com/dongli"><img src="assets/pictures/github-logo.png" class="small-logo"></a>
            </div>
        </div>
        <div class="content">
            {{ content }}
        </div>
    </div>
    <footer>
        Copyright &copy 2014 Li Dong. All rights reserved.
    </footer>
</body>
</html>